<nz-input-group nzCompact class="group">
  <nz-select
    [style.width]="width"
    [ngStyle]="item.style"
    [ngModel]="value[item.id]"
    (ngModelChange)="onChange($event, item)"
    [nzMode]="item.mode"
    *ngFor="let item of options"
    [nzAllowClear]="item.allowClear"
    [nzServerSearch]="item.serverSearch"
    [nzMaxMultipleCount]="item.maxMultipleCount || 1000"
    [nzPlaceHolder]="item.placeHolder"
    [nzMaxTagCount]="item.maxTagCount || 3"
    [nzLoading]="loading[item.id]"
    nzShowSearch
  >
    <nz-option *ngIf="item.title" nzDisabled nzCustomContent>
      <div class="title">{{ item.title }}</div>
    </nz-option>
    <ng-container *ngFor="let o of itemList[item.id]">
      <nz-option *ngIf="!loading[item.id]" [nzLabel]="o.label" [nzValue]="o.value"> </nz-option>
    </ng-container>
    <nz-option *ngIf="loading[item.id]" nzDisabled nzCustomContent>
      <i nz-icon nzType="loading" class="loading-icon"></i> Loading...
    </nz-option>
  </nz-select>
</nz-input-group>
