<form (ngSubmit)="submit()" [formGroup]="form" nz-form role="form">
  <nz-alert *ngIf="error" [nzMessage]="error" [nzShowIcon]="true" [nzType]="'error'" class="mb-lg"></nz-alert>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'Please enter mobile number!' | translate">
      <nz-input-group nzPrefixIcon="user" nzSize="large">
        <input formControlName="userName" nz-input placeholder="username: admin or user" [ngModel]="'admin'" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-form-control [nzErrorTip]="'Please enter password!' | translate">
      <nz-input-group nzPrefixIcon="lock" nzSize="large">
        <input formControlName="password" nz-input placeholder="password: ng-alain.com" type="password" [ngModel]="'youandme'" />
      </nz-input-group>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item>
    <nz-col [nzSpan]="12">
      <label formControlName="remember" nz-checkbox>{{ 'app.login.remember-me' | translate }}</label>
    </nz-col>
    <nz-col [nzSpan]="12" class="text-right">
      <a (click)="msg.error('请找欧阳锋')" class="forgot">{{ 'app.login.forgot-password' | translate }}</a>
    </nz-col>
  </nz-form-item>
  <nz-form-item>
    <button [nzLoading]="http.loading" nz-button nzBlock nzSize="large" nzType="primary" type="submit">
      {{ 'app.login.login' | translate }}
    </button>
  </nz-form-item>
</form>
