$grid-bar-background: #f5f7f7;
$grid-bar-border: 1px solid #bdc3c7;
:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 200px;

  .container-inline {
    display: flex;
    flex-direction: column;
    height: 100%;
    ::ng-deep {
      ngx-table-footer,
      ngx-table-header {
        display: flex;
        flex-grow: 0;
        flex-shrink: 1;
        justify-content: space-between;
        background-color: $grid-bar-background;
        border: $grid-bar-border;
      }
      ngx-table-footer {
        border-top: none;
      }
      ngx-table-header {
        border-bottom: none;
      }
    }
    .grid-bar {
      background-color: $grid-bar-background;
      border: $grid-bar-border;
      &.bottom {
        border-top: none;
      }
      &.top {
        border-bottom: none;
      }
    }
  }

  .grid {
    flex-grow: 1;
  }

  .statistics-bar {
    padding: 5px 16px;
    background: white;
  }

  ::ng-deep .grid-table.grid:not(.has-status-bar) {
    .ag-status-bar {
      border-top: none;
    }
  }

  ::ng-deep .grid-header-search .ant-form .ant-row,
  ::ng-deep .grid-header-search .ant-form sf-object {
    display: flex;
    flex-wrap: wrap;
    > sf-item {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .ant-form-item {
      margin-bottom: 8px;
    }
    @media (max-width: 767px) {
      & > [nz-col],
      & > sf-item {
        width: 50%;
      }
      & > [nz-col]:nth-child(even),
      & > sf-item:nth-child(even) {
        padding-left: 5px;
      }
      & > [nz-col]:nth-child(odd),
      & > sf-item:nth-child(odd) {
        padding-right: 5px;
      }
    }
    @media (max-width: 576px) {
      & > [nz-col],
      & > sf-item {
        width: 100%;
        padding: 0 !important;
      }
    }
  }

  ::ng-deep .grid-table.grid-footer {
    .ag-status-bar {
      display: none;
    }

    .ag-root {
      border-top: none !important;

      .ag-header {
        display: none;
      }

      .ag-body-viewport {
        overflow-y: hidden !important;

        .ag-row:first-child {
          border-top: none;
        }

        .ag-row:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

::ng-deep .grid-batch-delete .batch-delete-text {
  margin-top: -8px;
}
