:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  min-height: 200px;

  .grid {
    flex-grow: 1;
  }

  .grid-header-search {
    border: 1px solid #bdc3c7;
    border-bottom: 0;
    background: white;
    padding: 5px 10px;
  }

  @media (max-width: 576px) {
    .grid-header-search {
      max-height: 220px;
      overflow-y: auto;
    }
  }

  .footer,
  .statistics-bar {
    padding: 5px 10px;
    border: 1px solid #bdc3c7;
    border-top: none;
  }

  .footer {
    background: #f6f7f7;
    user-select: none;
  }

  .statistics-bar {
    background: white;
    padding: 5px 16px;
  }

  .grid-footer {
    width: 100%;
    min-height: 28px;
    flex-grow: 0;
    flex-shrink: 1;
  }

  ::ng-deep .grid-table.grid {
    .ag-status-bar {
      border-bottom: 0;
      box-shadow: inset 0 -1px 0 0 #bdc3c7;
    }
    .cell-text-right {
      display: flex;
      justify-content: flex-end;
    }

    a.cell-action-item {
      margin-top: 2px;
      margin-right: 5px;
      padding: 0 6px;
      line-height: 20px;
      border-radius: 5px;

      &.ant-btn-default {
        color: rgba(0, 0, 0, 0.65);
        background-color: rgb(255, 255, 255);
        border: 0.5px solid #d9d9d9;
        text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12);
        box-shadow: 0 2px 0 rgba(0, 0, 0, 0.045);
      }

      &.ant-btn-dashed {
        border-width: 1px;
      }
    }
  }

  ::ng-deep .grid-table.grid:not(.has-status-bar) {
    .ag-status-bar {
      border-top: none;
    }
  }

  ::ng-deep .grid-header-search .ant-form .ant-row,
  ::ng-deep .grid-header-search .ant-form sf-object {
    display: flex;
    flex-wrap: wrap;
    > sf-item {
      padding-bottom: 5px;
      padding-top: 5px;
    }
    .ant-form-item {
      margin-bottom: 8px;
    }
    @media (max-width: 767px) {
      & > [nz-col],
      & > sf-item {
        width: 50%;
      }
      & > [nz-col]:nth-child(even),
      & > sf-item:nth-child(even) {
        padding-left: 5px;
      }
      & > [nz-col]:nth-child(odd),
      & > sf-item:nth-child(odd) {
        padding-right: 5px;
      }
    }
    @media (max-width: 576px) {
      & > [nz-col],
      & > sf-item {
        width: 100%;
        padding: 0 !important;
      }
    }
  }

  ::ng-deep .grid-table.grid-footer {
    .ag-status-bar {
      display: none;
    }

    .ag-root {
      border-top: none !important;

      .ag-header {
        display: none;
      }

      .ag-body-viewport {
        overflow-y: hidden !important;

        .ag-row:first-child {
          border-top: none;
        }

        .ag-row:last-child {
          border-bottom: none;
        }
      }
    }
  }
}

::ng-deep .grid-batch-delete .batch-delete-text {
  margin-top: -8px;
}
