<full-content [(fullscreen)]="fullscreen" class="flex flex-column flex-grow-1">
  <div class="container-inline">
    <div class="flex flex-grow-0 flex-shrink-1 flex-wrap grid-bar top">
      <sf-query-form *ngIf="searchSchema" [searchSchema]="searchSchema" [searchFormData]="initFormData"></sf-query-form>
    </div>
    <!-- 表格头 -->
    <div class="flex flex-grow-0 flex-shrink-1 space-between flex-wrap">
      <ng-content select="ngx-table-header"></ng-content>
    </div>
    <!-- 工具栏 -->
    <div class="flex flex-grow-0 flex-shrink-1 space-between flex-wrap grid-bar top">
      <ng-container
        [ngTemplateOutlet]="topToolPanel"
        [ngTemplateOutletContext]="{ $implicit: this, page: this.defaultPageTmpl }"
      ></ng-container>
    </div>
    <!-- 表格 -->
    <ag-grid-angular
      *ngIf="__show__"
      [class]="gridTheme"
      [modules]="allModules"
      [gridOptions]="gridOptions"
      [groupSelectsChildren]="groupSelectsChildren"
      [ngClass]="gridTableClass"
      [ngStyle]="gridTableStyle"
      class="grid-table grid"
    >
    </ag-grid-angular>
    <!--  统计栏  -->
    <div
      *ngIf="showStatistics && columnApi && statistics && statistics.length"
      class="statistics-bar flex flex-grow-0 flex-shrink-1 justify-end flex-wrap grid-bar bottom"
    >
      <ngx-table-statistics-bar [statistics]="statistics"></ngx-table-statistics-bar>
    </div>
    <!-- 下工具栏 -->
    <div class="flex flex-grow-0 flex-shrink-1 space-between flex-wrap grid-bar bottom">
      <ng-container
        [ngTemplateOutlet]="bottomToolPanel"
        [ngTemplateOutletContext]="{ $implicit: this, page: defaultPageTmpl }"
      ></ng-container>
    </div>
    <!-- 页脚 -->
    <div class="footer flex flex-grow-0 flex-shrink-1 space-between flex-wrap">
      <ng-content select="ngx-table-footer"> </ng-content>
    </div>
  </div>
</full-content>

<ng-template #defaultPageTmpl>
  <ngx-table-pagination
    *ngIf="this.dataLoadModel === 'pageable' && showPagination"
    [cfg]="showPagination"
    [pageIndex]="pageIndex"
    (pageIndexChange)="this.onPageIndexChange($event)"
    [pageSize]="pageSize"
    (pageSizeChange)="this.onPageSizeChange($event)"
    [total]="cur_page?.total ? cur_page.total : 0"
  >
  </ngx-table-pagination>
</ng-template>
