<page-header-wrapper>
  <nz-radio-group [(ngModel)]="tabType" (ngModelChange)="tabType = $event; getData()" style="margin-bottom: 8px">
    <label nz-radio-button [nzValue]="'server'">服务端</label>
    <label nz-radio-button [nzValue]="'client'">客户端</label>
  </nz-radio-group>

  <div nz-row [nzGutter]="16">
    <div nz-col [nzMd]="12" [nzLg]="6">
      <cdk-virtual-scroll-viewport itemSize="30" class="demo-infinite-container">
        <nz-list>
          <nz-list-item *cdkVirtualFor="let item of i18ns">
            <nz-skeleton *ngIf="!item" [nzAvatar]="true" [nzParagraph]="{ rows: 1 }"></nz-skeleton>
            <nz-list-item-meta *ngIf="item">
              <nz-list-item-meta-title>
                <button nz-button nzType="link">{{ item }}</button>
              </nz-list-item-meta-title>
            </nz-list-item-meta>
          </nz-list-item>
        </nz-list>
      </cdk-virtual-scroll-viewport>
    </div>
    <div nz-col [nzMd]="12" [nzLg]="18"></div>
  </div>
</page-header-wrapper>
