<page-header-wrapper>
  <!-- [deleteMenu]="true" 将自动添加一个删除菜单，批量删除只会删除checkbox选中的值 -->
  <!-- [colACLTmpl]="'POST:/TEST{}:OUT'"  被所有列添加一个权限末班{}是列名的占位-->
  <ngx-grid-table
    #table
    [gridOptions]="gridOptions"
    [dataLoadModel]="'pageable'"
    [showPagination]="false"
    [gridTableStyle]="{ height: '70%' }"
    [defaultStatusBar]="true"
    [resizable]="true"
    [groupSelectsChildren]="true"
    [optionCell]="option"
    [dataSource]="dataSource"
    [searchSchema]="schema"
    (pageIndexChange)="onPageIndexChange($event)"
    (gridReady)="onGridReady($event)"
  >
    <!--    <ngx-table-header>-->
    <!--      <span>this is header</span>-->
    <!--    </ngx-table-header>-->

    <!--    <ngx-table-footer>-->
    <!--      <span>this is footer</span>-->
    <!--    </ngx-table-footer>-->
  </ngx-grid-table>
</page-header-wrapper>

<!-- 上工具栏 -->
<ng-template #topToolPanel let-table let-page="page">
  <ngx-table-tool-bar [center]="['search', 'reset']" [left]="['data-mode']" [table]="table" [page]="page">
    <div right>
      <button nz-button nzSize="small" nzType="primary" (click)="onCreate()">新增</button>
    </div>
  </ngx-table-tool-bar>
</ng-template>

<!-- 下工具栏 -->
<ng-template #bottomToolPanel let-table let-page="page">
  <ngx-table-tool-bar [left]="['full']" [right]="['page']" [page]="page" [table]="table">
    <div left>
      <button nz-button acl [acl-ability]="'role:export'" nzSize="small" nzType="primary" (click)="this.table.exportAllPageData()">
        导出
      </button>
    </div>
  </ngx-table-tool-bar>
</ng-template>

<!-- cell 和 row对应的是 TemplateRendererComponent 中的 $implicit(默认值ICellRendererParams对象) 和 row（RowNode对象） -->
<ng-template #option let-cell let-row="row">
  <!--  <button [acl]="{ ability: ['POST:/TEST'] }" (click)="print(cell, row)">test</button>-->
  <button (click)="print(cell, row)">test</button>
</ng-template>
