<nz-pagination
  *ngIf="cfg"
  (nzPageIndexChange)="onPageIndexChange($event)"
  (nzPageSizeChange)="onPageSizeChange($event)"
  [nzPageIndex]="pageIndex"
  [nzPageSizeOptions]="cfg.pageSizeOptions"
  [nzPageSize]="pageSize"
  [nzShowQuickJumper]="cfg.showQuickJumper"
  [nzShowSizeChanger]="cfg.showSizeChanger"
  [nzShowTotal]="rangeTemplate"
  [nzSize]="cfg.size"
  [nzTotal]="total"
  class="pagination"
>
</nz-pagination>
<ng-template #rangeTemplate let-range="range" let-total>
  <ng-container *ngIf="total"> 第 {{ range[0] }} 条至 {{ range[1] }} 条 - 共 {{ total }} 条数据 </ng-container>
</ng-template>
