.grid-search-action {
  border: 1px solid #bdc3c7;
  border-bottom: 0;
  background-color: #f5f7f7;
  height: 32px;
  padding: 0 4px 0 15px;
  min-height: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .search-panel-left,
  .search-panel-right {
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    max-width: 100%;
  }

  .search-panel-center {
    max-width: 100%;
  }

  .search-panel-right {
    justify-content: flex-end;
  }
}
