.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 32px;
  min-height: 32px;
  padding: 0 4px 0 15px;

  div[class^='bar-'] {
    ::ng-deep > * {
      margin-right: 5px;
    }
  }

  .bar-left,
  .bar-right {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    align-items: center;
    max-width: 100%;
  }

  .bar-center {
    max-width: 100%;
  }

  .bar-right {
    justify-content: flex-end;
  }
}
